Info: *******************************************************************
Info: Running Quartus II Shell
    Info: Version 9.0 Build 132 02/25/2009 SJ Full Version
    Info: Copyright (C) 1991-2009 Altera Corporation. All rights reserved.
    Info: Your use of Altera Corporation's design tools, logic functions 
    Info: and other software and tools, and its AMPP partner logic 
    Info: functions, and any output files from any of the foregoing 
    Info: (including device programming or simulation files), and any 
    Info: associated documentation or information are expressly subject 
    Info: to the terms and conditions of the Altera Program License 
    Info: Subscription Agreement, Altera MegaCore Function License 
    Info: Agreement, or other applicable license agreement, including, 
    Info: without limitation, that your use is for the sole purpose of 
    Info: programming logic devices manufactured by Altera and sold by 
    Info: Altera or its authorized distributors.  Please refer to the 
    Info: applicable agreement for further details.
    Info: Processing started: Tue May 26 15:43:48 2009
Info: Command: quartus_sh -t /tmp/ddr51528.tcl
script running in /net/sj-itnas01b/vol/vol1/abg/home/home/users/holiu/Ethernet_Project/90/May20_32k32k_timing/May7_startfromFeb22_Working90Tse/iptb_ddr_sdram_controller_temp51519
dat_path /tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat
 -		 Reading file:		ddr_sdram_0_ddr_settings.txt..
Good old DDIO's

 -		 Reading file:		/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/devices.dat..
 -		 Reading file:		/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/ep2s60_f672_x8_v02.dat..
 -		 Reading file:		/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/lcell_placement_stratixii_0_v02.dat..
 -		 Reading file:		/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/hdl_path_names_v03.dat..
 -		 Reading file:		/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/ddr_sdram_iotype.dat..
 -		 Reading file:		/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/ddr_sdram_iotype_stratixii.dat..
 - INFO: hdl path dat file file '/tools/altera/9.0/132/linux64/ip/altera/ddr_ddr2_sdram/constraints/dat/hdl_path_names_stratixii_v03.dat' does not exist
 ------------------------------------

 - All Done.
Info: Evaluation of Tcl script /tmp/ddr51528.tcl was successful
Info: Quartus II Shell was successful. 0 errors, 0 warnings
    Info: Peak virtual memory: 52 megabytes
    Info: Processing ended: Tue May 26 15:43:48 2009
    Info: Elapsed time: 00:00:00
    Info: Total CPU time (on all processors): 00:00:00
